<script setup lang="ts">
import TheWelcome from '../components/TheWelcome.vue'
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="row mt-5 mb-5">
        <div class="col-md-8">
          <h1 class="">Users view</h1>
        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">
            Create user
          </button>
        </div>
      </div>

      <div class="row mb-3">
        <div v-if="!showFilters" class="col-md-3">
          <button @click="showFilters = true" class="btn btn-primary">Show filters</button>
        </div>

        <div v-if="showFilters" class="col-md-12">
          <div class="form-group">
            <label for="email">Email filter</label>
            <input v-model="filters.email" id="email" class="form-control" type="email" placeholder="Email">
          </div>
          <div class="form-group mt-2 mb-2">
            <label for="user_name">User Name filter</label>
            <input v-model="filters.user_name" id="user_name" class="form-control" type="text" placeholder="User Name">
          </div>
          <button @click.prevent="clearFilters" type="submit" class="btn btn-primary me-2">Clear</button>
          <button @click.prevent="filterUsers" type="submit" class="btn btn-success me-2">Filter</button>
          <button @click.prevent="closeFilters" type="submit" class="btn btn-danger">Close</button>
        </div>
      </div>

      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(user, key) in users" :key="key">
            <th scope="row">{{key}}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.userName }}</td>
            <td>
              <a @click.prevent="editUser(user)" href="" data-bs-toggle="modal" data-bs-target="#updateUserModal">Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createUserModalLabel">Create user</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group mt-2 mb-2">
                <label for="new_user_email">User Email</label>
                <input v-model="newUser.email" id="new_user_email" class="form-control" type="text" placeholder="User Email">
              </div>
              <div class="form-group mt-2 mb-2">
                <label for="new_user_name">User Name</label>
                <input v-model="newUser.userName" id="new_user_name" class="form-control" type="text" placeholder="User Name">
              </div>
              <div class="form-group mt-2 mb-2">
                <label for="new_user_password">User Password</label>
                <input v-model="newUser.password" id="new_user_password" class="form-control" type="password" placeholder="User Password">
              </div>
              <div class="form-group mt-2 mb-2">
                <label for="new_user_password_confirm">Confirm Password</label>
                <input v-model="newUser.password_confirm" id="new_user_password_confirm" class="form-control" type="password" placeholder="User Password Confirm">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button @click.prevent="createUser" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateUserModalLabel">Update user</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group mt-2 mb-2">
                <label for="edit_user_email">User Email</label>
                <input v-model="editingUser.email" id="edit_user_email" class="form-control" type="text" placeholder="User Email">
              </div>
              <div class="form-group mt-2 mb-2">
                <label for="edit_user_name">User Name</label>
                <input v-model="editingUser.userName" id="edit_user_name" class="form-control" type="text" placeholder="User Name">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button @click.prevent="updateUser" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// todo decompose to different components and validation
import {defineComponent} from "vue";
import {Actions, Getters} from "@/store/enums/StoreEnums";
import store from "@/store";

export default defineComponent({
  name: "UsersView",
  components: {},
  props: {},
  data() {
    return {
      showFilters: false,
      filters: {
        email: null,
        user_name: null,
      },
      newUser: {
        email: null,
        userName: null,
        password: null,
        password_confirm: null,
      },
      editingUser: {
        id: null,
        email: null,
        userName: null,
      }
    }
  },
  computed: {
    users() {
      return store.getters[Getters.GET_USERS]
    }
  },
  methods: {
    editUser(user) {
       Object.assign(this.editingUser, user)
    },
    updateUser() {
      let data = {
        id: this.editingUser.id,
        email: this.editingUser.email,
        user_name: this.editingUser.userName,
      }

      store.dispatch(Actions.UPDATE_USER, data);
      setTimeout(() => this.filterUsers(), 1000);
    },
    createUser() {
      let data = {
        email: this.newUser.email,
        user_name: this.newUser.userName,
        password: this.newUser.password,
        password_confirm: this.newUser.password_confirm,
      }

      store.dispatch(Actions.CREATE_USER, data);
      setTimeout(() => this.filterUsers(), 1000);
    },
    clearFilters() {
      this.filters.email = null
      this.filters.user_name = null

      this.filterUsers()
    },
    closeFilters() {
      this.showFilters = false

      this.clearFilters()
    },
    filterUsers() {
      store.dispatch(Actions.REQUEST_USERS, this.filters);
    }
  },
  beforeMount() {
    this.filterUsers()
  },

});
</script>